@model Kullanici

<h2>Kullanıcı Ekle</h2>
<hr>
<form asp-controller="Kullanici" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Kullanıcı Adınız</label>
        <input asp-for="Username" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="KullaniciAd" class="form-label">Adınız</label>
        <input asp-for="KullaniciAd" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="KullaniciSoyad" class="form-label">Soyadınız</label>
        <input asp-for="KullaniciSoyad" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Eposta</label>
        <input asp-for="Eposta" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon</label>
        <input asp-for="Telefon" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Sifre" class="form-label">Şifre</label>
        <input asp-for="Sifre" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>
