<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<script src="Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="container mt-3">
    <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Ara">
        <button class="btn btn-primary" type="button">Ara</button>
    </div>
</div>
<hr>
<form asp-controller="Home" asp-action="Index" method="post">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/137747/sifir-araba-kampanyalari-1696854859.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Hakkimizda" asp-action="Index">2024 Zamlarından Kaçmak İsteyenler Buraya: İşte Yılın Son Sıfır Otomobil Kampanyaları</a></p>
                </div>
            </div>
           <div class="carousel-item active">
                <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139403/netflix-wednesday-dizisinin-yan-dizisini-cekecek-1702893257.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Index">Sosyal Medyayı Sallayan "Wednesday" Dizisi İçin Spin-off Geliyor Olabilir: Yeni Dizinin Ana Karakteri Bile Belli...</a></p>
                </div>
            </div>   
            <div class="carousel-item active">
                <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139268/bitcoin-kiyasla-altcoin-fiyat-hareketi-neden-cok-sert-1702742383.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Hakkimizda" asp-action="Index">Ya Batıcaz Ya Çıkıcaz: Bitcoin'e Kıyasla Altcoin’lerin Fiyat Hareketi Neden Çok Sert ve Değişkendir?</a></p>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139213/2024-asgari-ucret-ne-kadar-1702285181.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Asgari">2024 Asgari Ücret İçin Bugün İkinci Kez Toplanılacak: İşte Olası Senaryolar</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2>Güncel Haberler</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="news-card">
                    <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139398/ftx-yatirimci-borclarini-odemeyi-planliyor-1702887025.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="Ftx"><h4>Batık Kripto Para Borsası FTX, Milyarlarca Doları Buhar Olan Yatırımcılara Parasını Geri Ödemeyi Planlıyor.</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139395/milli-egitim-bakani-eksi-netle-universiteye-girme-aciklamasi-1702883879.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="Osym"><h4>Millî Eğitim Bakanı'ndan, "Eksi Netle Üniversiteye Girildi" İddiasına İlişkin Açıklama: "Külliyen Yanlış" (Doğru Doğru)</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139396/samsung-galaxy-s24-un-depolama-ve-ram-secenekleri-belli-oldu-1702885482.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="SamsungS24"><h4>Samsung Galaxy S24 Serisinin Renk, Depolama ve RAM Seçenekleri Ortaya Çıktı</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="https://cdn.webtekno.com/media/cache/showcase_small_v2/article/139394/yalova-aciklarindaki-deprem-uzmanlar-ne-diyor-1702881898.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="IstDeprem"><h4>Bilim İnsanları, Dün Gece Yalova Açıklarında Meydana Gelen Depremle İlgili Ne Dedi? İstanbul Depremini Tetikler mi?</h4></a>
                    </div>
                </div>
            </div>
    </div>
</form>
