@model List<Proje.Models.NewsItem>

@{
    ViewData["Title"] = "Haberler";
}

<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<script src="Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<form asp-controller="Home" asp-action="Index" method="post">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Img/Araba/main.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Araba">2024 Zamlarından Kaçmak İsteyenler Buraya: İşte Yılın Son Sıfır Otomobil Kampanyaları</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Img/Wednesday/main.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Wednesday">Sosyal Medyayı Sallayan "Wednesday" Dizisi İçin Spin-off Geliyor Olabilir: Yeni Dizinin Ana Karakteri Bile Belli...</a></p>
                </div>
            </div>   
            <div class="carousel-item">
                <img src="/Img/Kripto/main.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Kripto">Ya Batıcaz Ya Çıkıcaz: Bitcoin'e Kıyasla Altcoin’lerin Fiyat Hareketi Neden Çok Sert ve Değişkendir?</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Img/Asgari/main.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p><a class="nav-link text-white" asp-area="" asp-controller="Haber" asp-action="Asgari">2024 Asgari Ücret İçin Bugün İkinci Kez Toplanılacak: İşte Olası Senaryolar</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2>Güncel Haberler</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="news-card">
                    <img src="/Img/Ftx/main.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="Ftx"><h4>Batık Kripto Para Borsası FTX, Milyarlarca Doları Buhar Olan Yatırımcılara Parasını Geri Ödemeyi Planlıyor.</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="/Img/Osym/main.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="Osym"><h4>Millî Eğitim Bakanı'ndan, "Eksi Netle Üniversiteye Girildi" İddiasına İlişkin Açıklama: "Külliyen Yanlış" (Doğru Doğru)</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="/Img/Samsung/S24/main.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="SamsungS24"><h4>Samsung Galaxy S24 Serisinin Renk, Depolama ve RAM Seçenekleri Ortaya Çıktı</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-card">
                    <img src="/Img/Deprem/Istanbul/main.jpg" class="d-block w-20">
                    <div class="col-md-12 ">
                        <a class="nav-link text-black" asp-area="" asp-controller="Haber" asp-action="IstDeprem"><h4>Bilim İnsanları, Dün Gece Yalova Açıklarında Meydana Gelen Depremle İlgili Ne Dedi? İstanbul Depremini Tetikler mi?</h4></a>
                    </div>
                </div>
            </div>
    </div>
    <div class="container mt-5">
    <h2>Kullanıcı Haberleri</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="news-card">
                    <img src="@(item.ImagePath)" class="d-block w-20">
                    <div class="col-md-12">
                        <h4>@item.Title</h4>
                        <p>@item.Content</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</form>
