<h1>Haberci Gizlilik Politikası</h1>
<hr>

<h2>1. Giriş</h2>
<p>Hoş geldiniz! 'Haberci' olarak, ziyaretçilerimizin gizliliğini korumayı taahhüt ediyoruz. Bu gizlilik politikası, 'Haberci' web sitesini (http://localhost:5245/) kullanırken hangi bilgilerin toplandığını, bu bilgilerin nasıl kullanıldığını ve korunduğunu açıklamaktadır.</p>

<h2>2. Toplanan Bilgiler</h2>
<p><strong>a. Kişisel Bilgiler:</strong> Adınız, e-posta adresiniz gibi bilgiler, üyelik işlemleri, haber bülteni abonelikleri ve yorum yapma işlemleri sırasında toplanabilir.</p>
<p><strong>b. Çerezler ve Kullanım Verileri:</strong> Web sitemizi ziyaret ettiğinizde, tercihlerinizi anlamak ve hizmet kalitemizi artırmak için çerezler ve benzeri teknolojiler kullanabiliriz.</p>

<h2>3. Bilgilerin Kullanımı</h2>
<p>Topladığımız bilgiler, kullanıcı deneyimini geliştirmek, hizmetlerimizi özelleştirmek ve iletişim için kullanılabilir. E-posta adresiniz, haber bültenleri ve promosyon materyalleri göndermek için kullanılabilir.</p>

<h2>4. Bilgi Paylaşımı</h2>
<p>Kullanıcılarımızın bilgilerini üçüncü taraflarla paylaşmayız, ancak yasal gereklilikler veya web sitemizin güvenliğini koruma ihtiyacı doğarsa bu durum değişebilir.</p>

<h2>5. Güvenlik</h2>
<p>Kullanıcı bilgilerinin güvenliğini sağlamak için uygun güvenlik önlemleri almaktayız. Ancak, internet üzerindeki hiçbir veri iletiminin %100 güvenli olmadığını unutmamak önemlidir.</p>

<h2>6. Çocukların Gizliliği</h2>
<p>Web sitemiz 13 yaşın altındaki çocuklara yönelik değildir ve onlardan bilinçli olarak kişisel bilgi toplamıyoruz.</p>

<h2>7. Gizlilik Politikasındaki Değişiklikler</h2>
<p>Bu gizlilik politikası zaman zaman güncellenebilir. Değişiklikler yapıldığında, bu sayfada güncellenmiş politikayı yayınlayacağız.</p>

<h2>8. İletişim</h2>
<p>Herhangi bir sorunuz veya endişeniz varsa, lütfen <a href="mailto:[mrtblt13@gmail.com]">mrtblt13@gmail.com</a> adresinden bize ulaşın.</p>

<p>Tarih: [23.12.2023]</p>