<form asp-controller="Hakkimizda" asp-action="Index" method="post">
    <div>
        <h3>Hakkımızda</h3>
        <p>
            TechPulse olarak, teknoloji dünyasının nabzını tutuyoruz. 2023 yılında kurulan platformumuz, en güncel ve derinlemesine teknoloji haberlerini, analizlerini ve incelemelerini sunmayı amaçlıyor. Ekibimiz, sektördeki yenilikleri yakından takip eden, teknolojiye tutkulu profesyonellerden oluşuyor. Kullanıcılarımıza, hızla değişen teknoloji dünyasında rehberlik etmek ve bilgiye kolay erişim sağlamak için varız.
        </p>
    </div>
    <div>
        <h3>Vizyonumuz</h3>
        <p>
            Teknoloji haberlerinde öncü bir kaynak olmak ve her zaman güvenilir, tarafsız ve kapsamlı bilgi sunmak. Dünya çapında milyonlarca okuyucuya ulaşarak, teknoloji alanında bilinç ve anlayışı artırmayı hedefliyoruz. Yenilikçi ve etkileşimli içeriklerle, teknoloji konusundaki merakı beslemeyi ve dijital medyada yenilikçi standartlar belirlemeyi amaçlıyoruz.
        </p>
    </div>
    <div>
        <h3>Misyonumuz</h3>
        <p>
            TechPulse olarak misyonumuz, en son teknoloji trendlerini, gelişmelerini ve inovasyonları hızlı ve doğru bir şekilde sunarak okuyucularımıza değer katmak. Sektördeki değişiklikleri, gelişmeleri ve fırsatları anlaşılır ve erişilebilir bir şekilde aktarmak. Toplumun teknoloji okuryazarlığını artırarak, daha bilinçli ve etkileşimli bir kullanıcı topluluğu oluşturmaktır
        </p>
    </div>
</form>