<form asp-controller="Hakkimizda" asp-action="Index" method="post">
    <div>
        <h3>Hakkımızda</h3>
        <hr>
        <p>
            Haberci olarak, gündemden teknolojiye, yaşamdan önemli olaylara kadar geniş bir yelpazede haberleri sunmak. 2023 yılında kurulan platformumuz, sadece en güncel haberleri değil, aynı zamanda derinlemesine analizleri ve incelemeleri de kapsıyor. Ekibimiz, sektördeki en son gelişmeleri yakından takip eden, çeşitli konularda tutkulu profesyonellerden oluşuyor. Kullanıcılarımıza, hızla değişen dünyada rehberlik etmek ve bilgiye kolay erişim sağlamak için buradayız.
        </p>
    </div>
    <div>
        <h3>Vizyonumuz</h3>
        <p>
            Haberci olarak vizyonumuz, her konuda öncü bir kaynak olmak ve her zaman güvenilir, tarafsız ve kapsamlı bilgi sunmaktır. Dünya çapında milyonlarca okuyucuya ulaşarak, genel bilinç ve anlayışı artırmayı hedefliyoruz. Yenilikçi ve etkileşimli içeriklerle, merakı beslemeyi ve dijital medyada yenilikçi standartlar belirlemeyi amaçlıyoruz.
        </p>
    </div>
    <div>
        <h3>Misyonumuz</h3>
        <p>
           Haberci olarak misyonumuz, gündemden teknolojiye, yaşam alanındaki önemli gelişmeleri hızlı ve doğru bir şekilde sunarak okuyucularımıza değer katmaktır. Değişiklikleri, fırsatları ve önemli olayları anlaşılır ve erişilebilir bir şekilde aktararak toplumun genel bilgi düzeyini artırmak. Bilinçli ve etkileşimli bir kullanıcı topluluğu oluşturarak, her alanda okuryazarlığı desteklemektir.
        </p>
    </div>
</form>