@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Img/logo.jpg " alt="Logo" class="img-fluid"  style="max-width: 60px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Iletisim" asp-action="Index">İletişim</a>
                </li>
                @if(User.Identity?.IsAuthenticated == true){
                    <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Create">Haber Ekle</a>
                    </li>
                    if(User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="Index">Kullanıcılar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Roles" asp-action="Index">Roller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="IletisimKutusu" asp-action="Index">İletişim Kutusu</a>
                        </li>
                        
                    }
                    if(User.IsInRole("Editor")){
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Editor" asp-action="Index">Editör</a>
                        </li>
                    }
                }
            </ul>
            <ul class="navbar-nav ms-5">
                @if(User.Identity?.IsAuthenticated == true){
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="">Merhaba, @User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                    </li>
                    }else{
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                    </li>
                } 
            </ul>
        </div>
    </div>
</nav>