.carousel-caption[b-k16cuutibg] {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption[b-k16cuutibg] {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.news-card[b-k16cuutibg] {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.news-card img[b-k16cuutibg] {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    flex: 0 0 20%;
    margin-right: 20px;
}

.news-card .col-md-12[b-k16cuutibg] {
    flex: 1;
    min-width: 0;
}

.news-card h4[b-k16cuutibg], .news-card p[b-k16cuutibg] {
    word-wrap: break-word;
}

