.course-card[b-k16cuutibg]{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.course-img[b-k16cuutibg]{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}