h1[b-pc8poevvlo], h2[b-pc8poevvlo], h3[b-pc8poevvlo], h4[b-pc8poevvlo], h5[b-pc8poevvlo], h6[b-pc8poevvlo], p[b-pc8poevvlo], ul[b-pc8poevvlo], li[b-pc8poevvlo] {
	margin: 0;
	padding: 0;
}

.contact-container[b-pc8poevvlo] {
	background-image: url('/Img/İletişim/İletişim.JPG');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around; 
	align-items: center;
	position: relative;
	overflow: hidden;
}
.contact-center form label[b-pc8poevvlo] {
	font-weight: bold  !important; 
	color: #333;
	background: rgba(255, 255, 255, 0.8); 
	padding: 0.5em 1em;
	margin-bottom: 0.5em; 
}

section[b-pc8poevvlo] {
	display: flex;
	justify-content: center; 
	margin: 25px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}


.btn[b-pc8poevvlo] {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	text-decoration: none;
	border-radius: 0.25rem;
	transition: background-color 0.3s ease-in-out;
}

.btn:hover[b-pc8poevvlo] {
	background-color: #0056b3;
}
button[type="submit"][b-pc8poevvlo] {
	font-size: 18px;
	font-weight: bold;
	padding: 15px 30px; 
	border-radius: 4px; 
}

.contact-left[b-pc8poevvlo], .contact-center[b-pc8poevvlo], .contact-right[b-pc8poevvlo] {
	padding: 20px; 
}


.form-group[b-pc8poevvlo] {
	margin-bottom: 15px; 
}

.form-group input[name="name"][b-pc8poevvlo],
.form-group input[type="text"][b-pc8poevvlo],
.form-group input[type="email"][b-pc8poevvlo],
.form-group textarea[b-pc8poevvlo] {
    display: block; 
    width: 100%; 
    padding: 0.5em; 
    margin-bottom: 0.5em; 
    box-sizing: border-box;
}
.form-group textarea[b-pc8poevvlo] {
	height: 150px; 
	resize: vertical; 
}
.form-group input[name="name"][b-pc8poevvlo] {
	font-size: 18px; 
}

.form-group label[b-pc8poevvlo] {
	margin-bottom: 10px; 
	font-weight: bold; 
	background: rgba(255, 255, 255, 0.8); 
	padding: 10px; 
	border-radius: 4px;
}
.social-media-heading[b-pc8poevvlo] {
	font-size: 1.2rem; 
	font-weight: bold;
	color: #333;
	margin-bottom: 10px; 
	text-align: center;
}

textarea[b-pc8poevvlo] {
	resize: vertical;
}

.social-media-icons[b-pc8poevvlo] {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none; 
}
.social-media-icons a[b-pc8poevvlo] {
	font-size: 2rem;
	margin: 0 1rem; 
	color: #007BFF;
}

.contact-right[b-pc8poevvlo] {
	background: rgba(255, 255, 255, 0.7); 
	padding: 10px;
	border-radius: 4px; 
}

.social-media-icons a:hover[b-pc8poevvlo] {
	color: #0056b3;
}

@media (max-width: 768px) {
	.contact-container[b-pc8poevvlo] {
		 flex-direction: column;
	}

	.contact-center[b-pc8poevvlo], .contact-right[b-pc8poevvlo] {
		 width: 100%;
		 margin: 0;
		 padding: 1rem;
	}

	.social-media-icons a[b-pc8poevvlo] {
		 font-size: 1.5rem; 
		 margin: 0 .5rem;
	}
}
