<form asp-controller="Haber" asp-action="Araba" method="post">
    <div>
        <h3>2024 Zamlarından Kaçmak İsteyenler Buraya: İşte Yılın Son Sıfır Otomobil Kampanyaları</h3>
        <hr>
        <p>
            <h5>Otomobil markaları, aralık ayında dikkat çekici kampanyalarla karşımıza çıktılar. Kimi markalar doğrudan indirim yaparken, kimileri ise cazip faiz oranlarına sahip kredi kullandırtıyorlar.</h5>
        </p>
        <p>
            Bir dönem yatırım aracı hâline gelen sıfır otomobiller, şimdilerde <b>eski popülaritelerini</b> yitirmiş durumdalar. Bunun nedeni hem COVID-19 kaynaklı araç kıtlığının büyük oranda ortadan kalkması hem de krediye ulaşmadaki zorluk. Hâl böyle olunca sıfır otomobil markaları, müşteri çekebilmek adına <b>kampanyalarla</b> karşımıza çıkmaya başladılar.
        </p>
        <p>
            Bu içeriğimizde, otomobil firmalarının <b>aralık ayı güncel kampanyalarına</b> yakından bakacağız. Eğer sıfır otomobil alma fikriniz varsa ve kasım ayının son hafta sonunda araç bakmayı düşünüyorsanız bu içeriğimize mutlaka göz atmalısınız. Zira piyasa koşullarına göre çok iyi kampanyalar bulunuyor.
        </p>
        <p>
            <h4>İşte bazı markaların aralık ayı sıfır araba kampanyaları</h4>
        </p>
        <p>
            <h4>Toyota</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba1.jpeg" class="d-block w-20">
        </p>
        <p>Toyota, aralık ayına özel "Yılın Son Çılgın Kampanyası" isimli indirimlerini uyguluyor. Bu kampanya kapsamında markanın hemen her modelinde indirim var. Toyota modellerindeki bazı indirimler şöyle:
        </p>
        <p>
            <ul>
                <li>
                    <b>Toyota Corolla:</b> 200.000 TL’ye varan indirim veya 200.000 TL, 12 ay, 0% faiz.
                </li>
                <li>
                    <b>Toyota C-HR:</b> 250.000 TL indirim ve 100.000 TL, 12 ay, 0% faiz.
                </li>
                <li>
                    <b>Toyota Corolla Hatchback:</b> 160.000 TL’ye varan indirim veya 200.000 TL, 12 ay, 0% faiz.
                </li>
                <li>
                    <b>Toyota Corolla Cross:</b> 200.000 TL’ye varan indirim veya 200.000 TL, 12 ay %0 faiz.
                </li>
                <li>
                    <b>Toyota Yaris Cross:</b> 170.000 TL’ye varan indirim veya 200.000 TL, 12 ay %0 faiz.
                </li>
                <li>
                    <b>Toyota Yaris:</b> 140.000 TL’ye varan indirim veya 200.000 TL, 12 ay, 0% faiz.
                </li>
            </ul>
        </p>
        <p>
            <h4>Renault</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba2.jpeg" class="d-block w-20">
        </p>
        <p>
            Renault da tıpkı Toyota gibi hemen her modeline kampanya uygulayan markalardan biri.
        </p>
        <p>
            <ul>
                <li>
                    <b>Renault Austral:</b> 150 bin TL takas desteği veya 250.000 TL'ye kadar 12 ay %0 faiz.
                </li>
                <li>
                    <b>Renault Clio:</b> 200 bin TL'ye %1,99 faiz.
                </li>
                <li>
                    <b>Renault Megane:</b> Icon donanım seçeneğinde 100 bin TL indirim veya 170 bin TL'ye 12 ay %0 faiz.
                </li>
                <li>
                    <b>Tüm modellerde geçerli kampanya:</b> 250 bin TL'ye %2,99 faiz. Şimdi al Temmuz 2024'te öde. 
                </li>
            </ul>
        </p>
        <p>
            <h4>Fiat</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba3.jpeg" class="d-block w-20">
        </p>
        <p>
            Fiat'ın başta Egea olmak üzere bazı modellerinde indirimler bulunuyor.
        </p>
        <p>
            <ul>
                <li>
                    <b>Fiat Egea:</b>
                    <ol>
                        350.000 TL'ye 36 ay %3,04 faiz.
                    </ol>
                    <ol>
                        170.000 TL'ye 12 ay %0 faiz.
                    </ol>
                </li>
                <li>
                    <b>Fiat Panda:</b> 200.000 TL’ye 12 ay %1,99 faiz.
                </li>
                <li>
                    <b>Fiat 500e:</b> 200.000 TL'ye 12 ay %0 faiz. Ev tipi şarj kablosu hediye.
                </li>
            </ul>
        </p>
        <p>
            <h4>Hyundai</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba4.jpeg" class="d-block w-20">
        </p>
        <p>
            Kasım ayı için i10 ile i20'ye bomba <b>indirimler yapan</b> Hyundai, buna ek olarak bazı kampanyalar da sunuyor.
        </p>
        <p>
            <ul>
                <li>
                    <b>Hyundai i10:</b> Şimdi al 6 ay sonra öde. 
                </li>
                <li>
                    <b>Hyundai Elantra:</b> 100 bin TL'ye kadar indirim. Şimdi al 6 ay sonra öde.
                </li>
                <li>
                    <b>Hyundai Bayon:</b> Şimdi al 6 ay sonra öde.
                </li>
                <li>
                    <b>Hyundai Kona:</b> 155 bin TL'ye kadar indirim. Şimdi al 6 ay sonra öde.
                </li>
                <li>
                    <b>Hyundai Tucson:</b> 208 bin TL'ye kadar indirim. Şimdi al 6 ay sonra öde.
                </li>
                <li>
                    <b>Hyundai Santa Fe:</b> 400.000 TL'ye 12 ay %1,99 faiz.
                </li>
            </ul>
        </p>
        <p>
            <h4>Peugeot</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba5.jpeg" class="d-block w-20">
        </p>
        <p>
            Peugeot, bu ay 5008 hariç <b>tüm modellerinde</b> %0,99 faiz kampanyası uyguluyor. 5008'de %1,59 ve takas desteği kampanyası mevcut.
        </p>
        <p>
            <h4>Citroen</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba6.jpeg" class="d-block w-20">
        </p>
        <p>
            Citroen, kredi kampanyalarına ek olarak takas desteği ve <b>enerji kartı hediyeleriyle</b> de kasım ayının parlayan yıldızlarından.
        </p>
        <p>
            <ul>
                <li>
                    <b>Citroën C3:</b> 120.000 TL 12 ay %0 ya da 150.000 TL 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Citroën C3 Aircross:</b> 150.000 TL 12 ay %0 ya da 200.000 TL 12 ay %0,99 faiz
                </li>
                <li>
                    <b>Citroën C4:</b> 180.000 TL 12 ay %0 ya da 250.000 TL 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Citroën e-C4:</b> 180.000 TL 12 ay %0 ya da 250.000 TL 12 ay %0,99 faiz kampanyası ve 20.000 TL eşarj enerji kartı hediyesi.
                </li>
                <li>
                    <b>Citroën C4 X:</b> 180.000 TL 12 ay %0 ya da 250.000 TL 12 ay %0,99 faiz kampanyası, 25.000 TL yakıt hediyesi ve 50.000 TL takas desteği.
                </li>
                <li>
                    <b>Citroën Elektrikli e-C4 X:</b> 180.000 TL 12 ay %0 ya da 250.000 TL 12 ay %0,99 faiz kampanyası, 20.000 TL eşarj enerji kartı hediyesi ve 50.000 TL takas desteği.
                </li>
                <li>
                    <b>Citroën C5 Aircross:</b> 220.000 TL 12 ay %0 ya da 300.000 TL 12 ay %0,99 faiz kampanyası ve 150.000 TL takas desteği.
                </li>
            </ul>
        </p>
        <p>
            <h4>Opel</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba7.jpeg" class="d-block w-20">
        </p>
        <p>
            Opel'in de hemen her modelinde kredi ve <b>takas desteği</b> kampanyaları bulunuyor.
        </p>
        <p>
            <ul>
                <li>
                    <b>Opel Corsa: 200.000 TL 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Opel Corsa-e: 200.000 TL 12 ay %0,99 faiz. 
                </li>
                <li>
                    <b>Opel Mokka: 300.000 TL'ye kadar 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Opel Mokka-e: 250.000 TL 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Opel Crossland: 250.000 TL 12 ay %1,99 faiz.
                </li>
                <li>
                    <b>Opel Astra: 300.000 TL'ye kadar 12 ay %0,99 faiz.
                </li>
                <li>
                    <b>Opel Astra-e: 300.000 TL 12 ay %0,99 faiz. 20 bin TL değerinde eşarj kartı. 
                </li>
                <li>
                    <b>Opel Grandland: 300.000 TL 12 ay %0,99 faiz.
                </li>
            </ul>
        </p>
        <p>
            <h4>Chery</h4>
        </p>
        <p>
            <img src="/Img/Araba/araba8.jpeg" class="d-block w-20">
        </p>
        <p>
            Chery'nin tüm modellerinde 250 bin TL 12 ay %0 faiz kampanyası bulunuyor. Ayrıca bu ay Chery satın alan tüketicilerden 15'i, <b>Çin'e iki kişilik tatil bileti</b> ve <b>15 iPhone</b> 15'ten birini kazanabilecek.
        </p>
    </div>
</form>