<form asp-controller="Haber" asp-action="Asgari" method="post">
    <div>
        <h3>2024 Asgari Ücret İçin Bugün İkinci Kez Toplanılacak: İşte Olası Senaryolar</h3>
        <hr>
        <p>
            <h5>Hükûmet, işveren ve işçilerin asgari ücret pazarlığı için bugün ikinci kez toplanacak. Peki olası senaryolar ne diyor? 2024 yılında uygulanacak asgari ücret ne kadar olacak?</h5>
        </p>
        <p>
           Aralık ayının gelmesi ile tüm vatandaşları ilgilendiren <b>asgari ücret tartışmaları</b> yeniden başladı. Geçtiğimiz hafta da ilk toplantı gerçekleştirildi. Bugünse hükûmet, işçi ve işverenin bir araya gelip, hâlihazırla 11 bin 402 TL olan asgari ücretin yeniden belirlenmesini sağlayacak.
        </p>
        <p>
            Bu kez gerçekleştirilecek pazarlık, öncekilerden biraz daha önemli. Zira Çalışma ve Sosyal Güvenlik Bakanı Vedat Işıkhan, konuyla ilgili açıklamalarında <b>2024 yılı için tek bir asgari ücret</b> uygulanacağını söyledi. Artan enflasyon ortamında böyle bir uygulama yapılacak olması, <b>sağlam bir artışı</b> zorunlu kılıyor desek yeridir. Zira uzmanlara göre enflasyon, maaşları birkaç ay içerisinde eritecek.
        </p>
        <p>
            <h4>Peki taraflar ne düşünüyor?</h4>
        </p>
        <p>
            <img src="/Img/Asgari/asgari1.jpeg" class="d-block w-20">
        </p>
        <p>Vedat Işıkhan, çalışanları enflasyona ezdirmemek istediklerini söylemişti. İşveren kesimi ise belirlenecek asgari ücretin <b>dengeli olması gerektiğini</b> söyleyip, rekabet gücü ile istihdamı koruyacak şekilde belirlenmesini istiyor. İşçi kesimi ise 14 bin 25 TL'nin altına inilemeyeceğini, bu tutarın dört kişilik bir ailenin <b>açlık sınırı</b> olduğunu söylüyor. 
        </p>
        <p>
            Bu arada; TBMM'de kurulan Asgari Ücret Tespit Komisyonu'nun taraflarından birinin Türkiye İşveren Sendikaları Konfederasyonu (<b>TİSK</b>), diğerinin ise <b>Türkiye</b> İşçi Sendikaları Konfederasyonu (TÜRK-İŞ) olduğunu belirtelim. 5 kişilik <b>TÜRK-İŞ</b> heyetinde bu yıl ilk kez 4 işçi birden bulunacak. Bu çalışanlar kasiyer, sağlık çalışanı, enerji işçisi ve karayollarında çalışan bir taşeron işçi olarak karşımıza çıkacak ve asgari ücretin belirlenmesinde <b>katkı sağlayacaklar</b>.
        </p>
        <p>
            <h4>Asgari ücret kaç TL olacak?</h4>
        </p>
        <p>
            Peki değişen oranlara göre asgari ücret nasıl olabilir? Gelin bazı olasılıklara yakından bakalım:
        </p>
        <p>
            <img src="/Img/Asgari/asgari2.jpeg" class="d-block w-20">
        </p>
        <p>
            <ul>
                <li>Yüzde 45 zam yapılması hâlinde; net <b></b>16 bin 533 TL</b>, brüt 19 bin 451 TL olacaktır. Bunun işverene aylık maliyeti 22 bin 855 TL olur.
                </li>
                <li>
                    Yüzde 50 zam yapılması hâlinde; net <b>17 bin 104 TL</b>, brüt 20 bin 121 TL olacaktır. Bunun işverene aylık maliyeti 23 bin 641 TL olur.
                </li>
                <li>
                    Yüzde 55 zam yapılması hâlinde; net <b>17 bin 673 TL</b>, brüt 20 bin 791 TL olacaktır. Bunun işverene aylık maliyeti 24 bin 428 TL olur.
                </li>
                <li>
                    Yüzde 60 zam yapılması hâlinde; net <b>18 bin 243 TL</b>, brüt 21 bin 462 TL olacaktır. Bunun işverene aylık maliyeti 25 bin 218 TL olur.
                </li>
            </ul>
        </p>
        <p>
            <h4>Ancak yapılacak zam, bu kadar yüksek oranlarda olmayabilir!</h4>
        </p>
        <p>
            <img src="/Img/Asgari/asgari3.jpeg" class="d-block w-20">
        </p>
        <p>
            Ülkemizdeki yeni para politikaları ve yapılan açıklamalar, asgari ücretin yukarıdaki örnekler kadar <b>yükselmeyebileceğini</b> gözler önüne seriyor. Bunun bir numaralı nedeni, Türkiye Cumhuriyet Merkez Bankası'nın (TCMB) 2024 yılı için enflasyon tahmini. TCMB tahminlerine göre enflasyon, önümüzdeki yıl sonunda <b>yüzde 36</b> olarak gerçekleşecek.
        </p>
        <p>
            Bu oran doğrudan asgari ücret zammı olarak karşımıza çıkarsa önümüzdeki yıl boyunca uygulanacak asgari ücret, net <b>15 bin 506 TL</b> seviyelerinde olacaktır. Bir yuvarlama yapılır ve yüzde 40 zam verilirse bu kez de net <b>15 bin 962 TL</b> (yuvarlanırsa 16 bin TL) şeklinde bir rakamla karşılaşabiliriz. Bu rakamı bir kenara not etmenizi tavsiye ederiz. Zira 16 bin TL seviyesi, geçtiğimiz haftalarda Hazine ve Maliye Bakanı Mehmet Şimşek ile görüşen Cem Küçük tarafından da dile getirildi.
        </p>
        <p>
            <h4>Bazı sosyal medya kullanıcılarının asgari ücret beklentileri şöyle:</h4>
        </p>
        <p>
            <img src="/Img/Asgari/asgari4.png" class="d-block w-20">
        </p>
        <p>
            <img src="/Img/Asgari/asgari5.png" class="d-block w-20">
        </p>
        <p>
            <img src="/Img/Asgari/asgari6.png" class="d-block w-20">
        </p>
    </div>
</form>