<form asp-controller="Haber" asp-action="Ftx" method="post">
    <div>
        <h3>Batık Kripto Para Borsası FTX, Milyarlarca Doları Buhar Olan Yatırımcılara Parasını Geri Ödemeyi Planlıyor</h3>
        <hr>
        <p>
            <h5>Batık kripto para borsası FTX'in kurtuluş planı açıklandı. Edinilen bilgilere göre borsa, yatırımcılara olan milyarlarca dolarlık borcunu ödeyecek. Ancak bu konuda büyük bilinmezler var.</h5>
        </p>
        <p>
            Kripto para camiasının <b>en büyük dolandırıcılıklarından</b> bir tanesine imza atan FTX borsası ile ilgili yeni bir gelişme yaşandı. Bloomberg, <b>batık borsanın</b> bu işten nasıl sıyrılmayı planladığına ilişkin dikkat çekici bilgiler sağladı. 
        </p>
        <p>
            Edinilen bilgilere göre çoktan iflas başvurusu yapan FTX, bu <b>iflası sonlandırmaya</b> karar verdi. Peki bunu nasıl yapacak? Tahmin edilebileceği üzere yatırımcıların paralarını iade ederek. Şu an için neler yaşanacağı tam olarak bilinmiyor ancak FTX, milyarlarca dolarlık <b>nakit ödeme yapmayı</b> kabul edecek gibi görünüyor.
        </p>
        <p>
            <h4>FTX ile ilgili en önemli hususlarsa belirsizliğini koruyor.</h4>
        </p>
        <p>
            <img src="/Img/Ftx/ftx1.jpeg" class="d-block w-20">
        </p>
        <p>FTX'in planları, şimdilik çok büyük <b>bilinmezlere</b> ev sahipliği yapıyor. Mesela borsanın yeniden hizmet verip vermeyeceği bilinmiyor. Ayrıca bazı kripto varlıkların değerlemesinin nasıl yapılacağı da <b>belli değil</b>. FTX mağdurlarının paralarının ne kadarını alabilecekleri gibi hususlar da belirsizliğini koruyor.
        </p>
        <p>
            Edinilen bilgilere göre FTX davasına bakan hâkim John Dorsey, FTX'in anlaşma planını <b>onaylayabilir</b>. Eğer böyle bir şey olursa borsa, yatırımcıların parasını iade edecek. Ancak burada önemli bir husus var. FTX'in öz varlıkları da genel olarak kripto. Ödemelerin nakit yapılması hâlinde bu <b>kriptoların satılması gerekecektir</b>. Bunun piyasayı nasıl etkileyeceğini hep birlikte göreceğiz.
        </p>
    </div>
</form>