<form asp-controller="Haber" asp-action="IstDeprem" method="post">
    <div>
        <h3>Bilim İnsanları, Dün Gece Yalova Açıklarında Meydana Gelen Depremle İlgili Ne Dedi? İstanbul Depremini Tetikler mi?</h3>
        <hr>
        <p>
            <h5>Geçtiğimiz gece İstanbul'da da hissedilen bir deprem oldu. Yalova açıklarında meydana gelen deprem, olası İstanbul depremini akıllara getirdi. Peki uzmanlar ne diyor?</h5>
        </p>
        <p>
            Geçtiğimiz gece, başta İstanbul olmak üzere bölgedeki pek çok şehirde <b>endişeye yol açan</b> bir deprem oldu. Yalova'ya bağlı Çınarcık ilçesi açıklarında, saat 23.53'te 4.1 büyüklüğünde deprem meydana geldi. Bu depremin ardından yaklaşık <b>10 kadar artçı</b> da meydana geldi.
        </p>
        <p>
           Deprem, herhangi bir can ve mal kaybına yol açmadı. Ancak söz konusu depremin Marmara Denizi içinde olması, olası <b>İstanbul depremini</b> akıllara getirdi. Hâl böyle olunca gözler, deprem uzmanları tarafından yapılan açıklamalara döndü. İTÜ Öğretim Üyesi, jeolog <b>Prof. Dr. Naci Görür</b> de konuyla ilgili bazı açıklamalarda yaptı.
        </p>
        <p>
            <h4>"Marmara’daki sistem gerilim biriktiriyor"</h4>
        </p>
        <p>
            <img src="/Img/Deprem/Istanbul/ist1.jpeg" class="d-block w-20">
        </p>
        <p>
            Prof. Dr. Naci Görür, X hesabından yaptığı paylaşımda şu ifadelere yer verdi:
        </p>
        <p>
           <a href="https://twitter.com/nacigorur/status/1736502440671764607"><img src="/Img/Deprem/Istanbul/ist2.png" class="d-block w-20"></a>
        </p>
        <p>
            Arkadaşlar, Marmara Denizi, Çınarcık Çukurluğunda 4,1 deprem oldu. Sanıyorum deprem Adalar Fayının güneyindeki küçük normal faylar üzerinde olmuş olabilir. Fay çözümü ile bu belli olacaktır. Fay haritasını koyuyorum. Marmara’daki sistem gerilim biriktiriyor, Sevgiyle
        </p>
        <p>
            <h4>Diğer uzmanlar ne diyor?</h4>
        </p>
        <p>
            Yalova açıklarında meydana gelen depremle ilgili açıklama yapan tek isim, elbette Naci Görür değildi. Gelin diğer uzmanların da açıklamalarına bakalım.
        </p>
        <p>
            <h5><u>Prof. Dr. Osman Bektaş'ın açıklaması:</u></h5>
        </p>
        <p>
            <a href="https://twitter.com/profobektas/status/1736513177414717913"><img src="/Img/Deprem/Istanbul/ist3.png" class="d-block w-20"></a>
        </p>
        <p>
            ÇINARCIK ÇUKURU 4,1 DEPREMİ
        </p>
        <p>
            Deprem olasılıkla Çınarcık Çukuru ana fayı üzerinde gelişti. Ana fayın bir kolu Adalar, diğer kolu Yalova Fayını oluşturuyor. Deprem ana fayın olasılıkla sürüklendiği (creep) 11 km derinlikte olduğundan her iki kolda tetiklenebilir.
        </p>
        <p>
            <h5><u>Dr. Ramazan Demirtaş'ın açıklaması:</u></h5>
        </p>
        <p>
            <a href="https://twitter.com/Paleosismolog/status/1736496594659270896"><img src="/Img/Deprem/Istanbul/ist4.png" class="d-block w-20"></a>
        </p>
        <p>
            Yalova, Çınarcık açıklarında, Çınarcık Çukurlugu'nda (#Marmaradenizi) KAFZ doğu Marmara segmenti üzerinde 17.12.2023, 23:53 Mw=4.1 büyüklüğünde bir #deprem oldu
        </p>
        <p>
            * 26.10.2020 ve 17.01.2023 tarihlerinde, aynı yerde 1.3 *514 yıl önce 1509 depremi oldu
        </p>
        <p>
            <h5><u>Deprem araştırmacısı Baturhan Öğüt'ün açıklaması:</u></h5>
        </p>
        <p>
            <a href="https://twitter.com/QuakeResearche/status/1736493146144423997"><img src="/Img/Deprem/Istanbul/ist5.png" class="d-block w-20"></a>
        </p>
        <p>
            Sevgili dostlar Adalar segmenti avrasya ve anadolu levhasını kesen sınır faydır.
        </p>
        <p>
            Anadolu mikro levhası batı yönlü yılda 25mm/yıl hız ile kayarken bu büyüklükte depremler olmaktadır.
        </p>
        <p>
            Öncü bir deprem diye tanımlayamayız.
        </p>
    </div>
</form>