<form asp-controller="Haber" asp-action="Kripto" method="post">
    <div>
        <h3>Ya Batıcaz Ya Çıkıcaz: Bitcoin'e Kıyasla Altcoin’lerin Fiyat Hareketi Neden Çok Sert ve Değişkendir?</h3>
        <hr>
        <p>
            <h5>Bitcoin fiyatı keskin bir düşüş yaptığında en bilinen altcoin'ler bile Bitcoin'den çok daha fazla düşüyor. Bunun sebepleri neler?</h5>
        </p>
        <p>
            Geçmiş Bitcoin <b>fiyat</b> hareketlerine bakacak olursak <b>Bitcoin</b> %10'luk gibi bir düşüş yaptığında, <b>Ethereum</b> %15'e yakın ve diğer /b>altcoin'ler</b> yaklaşık %20'lik bir düşüş yapıyor.
        </p>
        <p>
            Aslında bu tarz hareketler kripto varlık piyasasında sıklıkla görülmüştür ve hâlen de görülüyor. Bu durumun birkaç farklı nedeni var:
        </p>
        <p>
            <h4>Bitcoin piyasasında bulunan para miktarı, altcoin’lerden daha fazladır.</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto1.jpeg" class="d-block w-20">
        </p>
        <p>Bitcoin, ilk kripto varlık olmasından dolayı en bilinenidir; <b>tüm kripto piyasasını temsil eder</b> ve aynı zamanda <b>Bitcoin, piyasa değeri ile en değerli kripto varlıktır.</b> Kripto varlık piyasasında dönen paranın büyük bir kısmı ilk olarak Bitcoin ve sonrasında altcoin’lerdedir.
        </p>
        <p>
            Bitcoin, keskin bir düşüş yaptığında daha fazla alıcısı olduğu için fiyatı, örneğin %10’luk bir düşüş ile <b>sınırlı kalabilir</b>. Ancak altcoin’lerde alıcı daha az olduğundan ve böylece <b>daha az alım gücü</b> olduğundan bu sert düşüşler Bitcoin’den daha fazla olur.
        </p>
        <p>
            <h4>Bitcoin güvenli liman varlığıyken altcoin'ler spekülatif varlıklardır.</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto2.jpeg" class="d-block w-20">
        </p>
        <p>Satoshi Nakamoto’nun icadı Bitcoin, tamamen merkeziyetsizdir ve dijital altın olduğunu iddia eder. Bunlardan dolayı Bitcoin, kripto varlık piyasası içinde bile güvenli liman varlığı olarak hareket eder.
        </p>
        <p>
            Altcoin’ler ise <b>Bitcoin’e alternatif olarak geliştirilmiş varlıklar yani spekülatif varlıklardır</b>. Bundan dolayı Bitcoin düşüşe geçtiğinde altcoin yatırımcıları arasında <b>korku</b> artar ve <b>fiyatları daha keskin düşer</b>.
        </p>
        <p>
            <h4>Bitcoin’in amacı belliyken, altcoin’ler hâlâ gelişmektedir.</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto3.jpeg" class="d-block w-20">
        </p>
        <p>Bitcoin’in amacı, <b>aracıların olmadığı bir elektronik ödeme sistemi</b> olmaktır. Altcoin’lerin amacı ise belli değildir.
        </p>
        <p>
            Piyasada 26.000’den fazla altcoin var ve bunların hepsi <b>hem birbirinden farklı hem de hâlen gelişim</b> aşamasındadır. Özellikle altcoin’lerin arkasında geliştirici şirketlerin olması, altcoin’lerin fiyat hareketlerini derinden etkiler. Bu etki, <b>olumlu</b> ya da <b>olumsuz</b> yönde olabilir.
        </p>
        <p>
            <h4>Altcoin piyasası, Bitcoin’e kıyasla haberlere ve yeni gelişmelere daha çok bağlıdır.</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto4.jpeg" class="d-block w-20">
        </p>
        <p>Bitcoin, en bilinen kripto varlık olsa da <b>yasal düzenlemeler</b> ve <b>hack’ler</b> gibi haberlerden etkilenebilir. Bunun karşısında, altcoinler bu tarz gelişmelerden <b>çok daha fazla</b> etkilenir.
        </p>
        <p>
            Altcoin geliştiricilerine olan güven, Bitcoin fiyatı düşerken çok hızlı bir şekilde <b>kaybolur</b>. Örneğin, bir altcoin’in arkasındaki geliştirici ekip, şirket ya da toplulukta küçücük bir sorun olsa bile bu sorun, Bitcoin fiyatı düşerken yatırımcılara <b>çok büyük</b> gelebilir ve sonuç olarak o altcoin’in fiyatı keskin bir şekilde düşer.
        </p>




        <p>
            <h4>Piyasa değeri az olan altcoin’ler manipülasyona yatkındır.</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto5.jpeg" class="d-block w-20">
        </p>
        <p>Kripto varlık piyasasında <b>26.000</b>’den fazla altcoin olduğunu söylemiştik. Bunların 25.900’ünün piyasa değeri şu anda <b>500.000 dolardan daha azdır</b>.
        </p>
        <p>
            Yüksek miktarlarla işlem yapan bir yatırımcı, piyasa değeri düşük bu altcoin’lerden almak istediği zaman <b>fiyat keskin yükselebilir</b>. Ancak Bitcoin fiyatı düşerken bu sözde yatırımcı, yatırımını satmak isterse o altcoin’in <b>fiyatı çok sert düşebilir</b>.
        </p>
        <p>
            <h4>Yatırımcılar ne zaman Bitcoin ve altcoin almayı tercih ediyor?</h4>
        </p>
        <p>
            <img src="/Img/Kripto/kripto6.jpeg" class="d-block w-20">
        </p>
        <p>Bitcoin en çok satın alım yapılan kripto varlık olsa da bazı durumlarda Bitcoin yükselirken <b>bazı altcoin'ler</b> Bitcoin'den daha fazla yükseliyor.
        </p>
        <p>
            Bunun arkasındaki nedenler arasında, yukarıda bahsettiğimiz gibi <b>çok önemli gelişmeler</b> ve bazı durumlarda sosyal medya fenomenlerinin o altcoin hakkında açıklamalar yapmasından kaynaklanıyor.
        </p>
        <p>
            <img src="/Img/Kripto/kripto7.jpeg" class="d-block w-20">
        </p>
        <p>Bitcoin fiyatı düşerken de genellikle yatırımcılar kripto varlık piyasasına olan <b>inancını yitirir</b> ve hem Bitcoin’lerini <b>hem de altcoin’lerini satar</b>. Bitcoin fiyatı yan yönde ilerlerken de yatırımcılar <b>altcoin satın alarak</b> olası yükseliş hareketlerinden faydalanmak ister.
        </p>
        <p>
            Bu düşünce esasen altcoin’lerin <b>spekülatif varlık</b> olmalarından kaynaklanıyor. Aynı zamanda profesyonel yatırımcılar bu satın aldıkları altcoin’lerin fiyatı yükseldikten sonra <b>Bitcoin karşısında değiştirerek</b> ellerindeki Bitcoin miktarını arttırır.
        </p>






    </div>
</form>