<form asp-controller="Haber" asp-action="Osym" method="post">
    <div>
        <h3>Millî Eğitim Bakanı'ndan, "Eksi Netle Üniversiteye Girildi" İddiasına İlişkin Açıklama: "Külliyen Yanlış" (Doğru Doğru)</h3>
        <hr>
        <p>
            <h5>Millî Eğitim Bakanı Yusuf Tekin, üniversitelere eksi netle girildiği iddialarına ilişkin açıklama yaptı. Bakan Tekin, böyle bir durumun mümkün olmadığını söyledi.</h5>
        </p>
        <p>
            Bundan birkaç hafta önce sizlerle paylaştığımız bir haberimizde, büyük bir <b>skandaldan</b> bahsetmiştik. İddialara göre üniversiteye giriş sınavlarında baraj puan uygulamanın kaldırılması, öğrencilerin <b>eksi netle</b> üniversitelerdeki bazı bölümlere girmelerine yol açmıştı.
        </p>
        <p>
            Şimdiyse bu konuyla ilgili yeni bir gelişme yaşandı. <b>Millî Eğitim Bakanı Yusuf Tekin</b>, TBMM'de konuyla ilgili açıklama yaptı. Söz konusu iddiaların gerçeği yansıtmadığını aktaran Bakan Tekin, böyle bir durumun mümkün olmadığını belirtti.
        </p>
        <p>
            <h4>Yusuf Tekin tarafından yapılan açıklama şöyle:</h4>
        </p>
        <p>
            <img src="/Img/Osym/osym1.jpeg" class="d-block w-20">
        </p>
        <p>Eksi puanla üniversiteye giren öğrenciler. Bu külliyen yanlış bilgi. Hukuken mümkün olmayan teknik olarak yanlıştır. Eksi netle üniversiteye girdiği anlamına gelmez. Bu şekilde üniversitelere öğrenci kaydedilmesi mümkün değildir.
        </p>
        <p>
            <h4>Eksi puan ile girilmedi ama "eksi net" ile girilmiş görünüyor</h4>
        </p>
        <p>
            <img src="/Img/Osym/osym2.jpeg" class="d-block w-20">
        </p>
        <p>
            Millî Eğitim Bakanının da söylemiş olduğu gibi üniversiteye eksi puan ile girilmesi söz konusu değil. Zaten <b>YÖK Atlas</b> da <b>eksi puan ile değil eksi net ile girildiğini</b> söylüyor. Yukarıdaki ekran görüntüsünde de görebileceğiniz üzere bazı öğrenciler, AYT yani Alan Yeterlilik Sınavı'nın bazı bölümlerinde eksi net yapmış olmalarına rağmen üniversitelere yerleşmeyi başarmış durumda. Hatta daha önceki aktardığımız haberimizde de Türkçe neti eksi olan öğrencilerin Edebîyat bölümüne girdikleri iddiasından bahsetmiştik.
        </p>
    </div>
</form>