<form asp-controller="Haber" asp-action="Ftx" method="post">
    <div>
        <h3>Sosyal Medyayı Sallayan "Wednesday" Dizisi İçin Spin-off Geliyor Olabilir: Yeni Dizinin Ana Karakteri Bile Belli...</h3>
        <hr>
        <p>
            <h5>Sinemada sık sık karşımıza çıkan ve bir filmin geçmişini ya da geleceğini anlatan yapımlar (spin-off) çekme mantığı, yayın platformlarına da sıçradı. Şimdi de Netflix, Wednesday dizisinin bir yan dizisini çekecek.</h5>
        </p>
        <p>
            Hollywood'da son yıllarda sık sık bazı <b>film evrenlerinin genişletildiği</b> yapımlar görüyoruz. Bu yapımlar ya popüler bir filmin öncesinde yaşananları ya sonrasında olanları gösteriyorlar. İlgi çeken karakterlere odaklanan spin-off yapımlar, yapımcıların bir başka gözdesi olarak öne çıkıyor. Aynı yaklaşımı şimdilerde yayın platformlarında da görüyoruz. Son olarak <b>Netflix'in, Wednesday</b> dizisindeki Fester Amca'nın dizisini yapmayı planladığı ortaya çıktı.  
        </p>
        <p>
            Teknik olarak kendisi de bir <b>Addams Ailesi</b> modern yan dizisi diyebileceğimiz <b>Wednesday</b>, Netflix'in en başarılı yapımlarından biri olmayı başarmıştı. Bu yılın ilk yarısında da en çok izlenen yapımlar arasında ilk 10'da yer alan Wednesday, 250 milyon saatlik izlenmesi ve viral olan dans akımıyla Netflix'in en iyi işlerinden biri olmuştu. Şu anda da Wednesday, platformun en çok izlenen İnglilizce içeriği durumunda. Dizinin ikinci sezonu için de çalışmalar devam ederken, Netflix bir <b>Foster Amca</b> dizisi üzerinde de kafa yoruyor. 
        </p>
        <p>
            <h4>Suyunun suyu</h4>
        </p>
        <p>
            <img src="/Img/Wednesday/wednesday1.jpeg" class="d-block w-20">
        </p>
        <p>
            Wednesday dizisinde <b>Fred Armisen</b> tarafından canlandırılan Fester Amca, ekranda göründüğü kısa sürede büyük ilgi toplamayı başarmıştı. Karakterin gördüğü ilginin farkında olan yapımcılar da Fester Amca'nın kendi dizisinin olması gerektiğini düşünmeye başladı. 
        </p>
        <p>
           Elbette ki şu anda br Fester Amca dizisinin geleceği <b>kesin değil</b>. Öncelikle yazarların karakter için iyi bir hikâye oluşturması gerekiyor. Sonrasında da firmanın oyuncu ve yönetmen ile anlaşması, dizinin çekim takviminin uygun olup olunmadığına bakılması gerekiyor. 
        </p>
    </div>
</form>